@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400");

/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background-color: #ffffff;
  padding-top: 38px;
  padding-bottom: 81px;
}

.wrap {
  width: 1110px;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}

.logo {
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.decor-letter {
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
}

.menu {
  display: flex;
}

.menu-iteam:not(:last-child) {
  margin-right: 30px;
}

.menu-iteam a {
  display: block;
  color: #0f0101;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  text-decoration: none;
}

.menu-iteam a:hover {
  color: #1abc9c;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
  margin-bottom: 32px;
  align-items: center;
}

.underline {
  display: block;
  width: 164px;
  border: 3px solid #1abc9c;
  margin-bottom: 92px;
}

.gallery-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-iteam {
  flex-basis: 23%;
  margin-bottom: 30px;
}

.gallery-iteam:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.products {
  margin-bottom: 105px;
}

.gallery-iteam img {
  display: block;
  width: 100%;
  height: 255px;
  background-size: cover;
  background-position: center;
}

.product {
  padding-left: 14px;
  background-color: #323232;
  position: relative;
}

.product:hover {
  background-color: #1abc9c;
}

.name-product {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

.price {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  background-color: rgba(140, 140, 140, 0.6);
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.list-news {
  display: flex;
  justify-content: space-between;
}

.post-news {
  flex-basis: 32%;
}

.post-news img {
  display: block;
  width: 100%;
  height: 261px;
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
}

.subtitle {
  color: #555252;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  margin-bottom: 10px;
}

.subunderline {
  width: 136px;
  display: block;
  border: 2px solid #4ec6ab;
  margin-bottom: 30px;
}

.text {
  color: #555252;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.28px;
  margin-bottom: 15px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  width: 159px;
  height: 51px;
  border-radius: 3px;
  background-color: #4ec6ab;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 51px;
  letter-spacing: -0.32px;
  text-align: center;
}

.btn:hover {
  box-shadow: 0px 1px 34px 4px rgba(54, 201, 118, 0.72);
  color: #4ec6ab;
  background-color: #ffffff;
}
