.collection__container-images {
  @include push--auto;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection__image {
  width: 150px;

  @media screen and (min-width: 320px) {
    width: 150px;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
  }
  @media screen and (min-width: 1400px) {
    width: 232px;
  }
}
