@font-face {
  font-family: "PF Din Text Comp Pro regular";
  src: url("../fonts/pfdintextcomppro-regular-webfont.eot");
  src: url("../fonts/pfdintextcomppro-regular-webfont.svg");
  src: url("../fonts/pfdintextcomppro-regular-webfont.ttf");
  src: url("../fonts/pfdintextcomppro-regular-webfont.woff");
}

@font-face {
  font-family: "PF Din Text Comp Pro thin";
  src: url("../fonts/pfdintextcomppro-thin-webfont.eot");
  src: url("../fonts/pfdintextcomppro-thin-webfont.svg");
  src: url("../fonts/pfdintextcomppro-thin-webfont.ttf");
  src: url("../fonts/pfdintextcomppro-thin-webfont.woff");
}

@font-face {
  font-family: "PF Din Text Comp Pro xthin";
  src: url("../fonts/pfdintextcomppro-xthin-webfont.eot");
  src: url("../fonts/pfdintextcomppro-xthin-webfont.svg");
  src: url("../fonts/pfdintextcomppro-xthin-webfont.ttf");
  src: url("../fonts/pfdintextcomppro-xthin-webfont.woff");
}

@font-face {
  font-family: "DIN Next LT Pro medium";
  src: url("../fonts/dinnextltpro-medium-webfont.eot");
  src: url("../fonts/dinnextltpro-medium-webfont.svg");
  src: url("../fonts/dinnextltpro-medium-webfont.ttf");
  src: url("../fonts/dinnextltpro-medium-webfont.woff");
}

@font-face {
  font-family: "DIN Next LT Pro regular";
  src: url("../fonts/dinnextltpro-regular-webfont.eot");
  src: url("../fonts/dinnextltpro-regular-webfont.svg");
  src: url("../fonts/dinnextltpro-regular-webfont.ttf");
  src: url("../fonts/dinnextltpro-regular-webfont.woff");
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.svg");
  src: url("../fonts/entypo.ttf");
  src: url("../fonts/entypo.woff");
}
