.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (min-width: 320px) {
    padding-top: 9px;
    max-width: 300px;
    @include push--auto;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0;
    margin: 0;
    margin-left: 5px;
    max-width: 100%;
  }
}

